In [11]:
import pandas as pd
path="D:/Tutedude-py/Tutedude-python-code-learn/data analysis/data3.xlsx"
df=pd.read_excel(path)
print(df)

    S.No     A   B   C     D   E  length
0      1   2.0   1   5   3.0   4      45
1      2   4.0   3  10   6.0   8      43
2      3   6.0   5  15   9.0  12      66
3      4   8.0   7  20  12.0  16      78
4      5  10.0   9  25  15.0  20      32
5      6  12.0  11  30  18.0  24      12
6      7  14.0  13  35  21.0  28      54
7      8  16.0  15  40  24.0  32      67
8      9  18.0  17  45  27.0  36      77
9     10  20.0  19  50  30.0  40      89
10    11   NaN  21  55   NaN  44      45

In [12]:
# numeric to categorical
import numpy as np
bins=np.linspace(min(df["length"]),max(df["length"]),4)

In [13]:
group_name=["low","medium","high"]

In [14]:
df["length-binned"]=pd.cut(df["length"],bins,labels = group_name,include_lowest = True)

In [15]:
df.head()

   S.No     A  B   C     D   E  length length-binned
0     1   2.0  1   5   3.0   4      45        medium
1     2   4.0  3  10   6.0   8      43        medium
2     3   6.0  5  15   9.0  12      66          high
3     4   8.0  7  20  12.0  16      78          high
4     5  10.0  9  25  15.0  20      32           low

In [16]:
#categorical numeric
pd.get_dummies(df["length"])

       12     32     43     45     54     66     67     77     78     89
0   False  False  False   True  False  False  False  False  False  False
1   False  False   True  False  False  False  False  False  False  False
2   False  False  False  False  False   True  False  False  False  False
3   False  False  False  False  False  False  False  False   True  False
4   False   True  False  False  False  False  False  False  False  False
5    True  False  False  False  False  False  False  False  False  False
6   False  False  False  False   True  False  False  False  False  False
7   False  False  False  False  False  False   True  False  False  False
8   False  False  False  False  False  False  False   True  False  False
9   False  False  False  False  False  False  False  False  False   True
10  False  False  False   True  False  False  False  False  False  False

In [17]:
df.describe()

,S.No,A,B,C,D,E,length
count,11.000000,10.000000,11.00000,11.000000,10.000000,11.000000,11.000000
mean,6.000000,11.000000,11.00000,30.000000,16.500000,24.000000,55.272727
std,3.316625,6.055301,6.63325,16.583124,9.082951,13.266499,22.707228
min,1.000000,2.000000,1.00000,5.000000,3.000000,4.000000,12.000000
25%,3.500000,6.500000,6.00000,17.500000,9.750000,14.000000,44.000000
50%,6.000000,11.000000,11.00000,30.000000,16.500000,24.000000,54.000000
75%,8.500000,15.500000,16.00000,42.500000,23.250000,34.000000,72.000000
max,11.000000,20.000000,21.00000,55.000000,30.000000,44.000000,89.000000

In [18]:
df.head(5)

   S.No     A  B   C     D   E  length length-binned
0     1   2.0  1   5   3.0   4      45        medium
1     2   4.0  3  10   6.0   8      43        medium
2     3   6.0  5  15   9.0  12      66          high
3     4   8.0  7  20  12.0  16      78          high
4     5  10.0  9  25  15.0  20      32           low

In [19]:
index=pd.Index(df["length"])

In [20]:
index.value_counts()

length
45    2
43    1
66    1
78    1
32    1
12    1
54    1
67    1
77    1
89    1
Name: count, dtype: int64